.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-color);
}
.footer-contact__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.studio_white {
  color: var(--background-color);
}

.footer-address__address {
  color: var(--background-color);

  font-style: normal;
  @include text-fw400(14px, 1.71, 00.03em);
  //font-size: 14px;
  //line-height: 1.71;
  ///* or 171% */
  //letter-spacing: 0.03em;

  transition-property: color;
  @include animation-durationandtiming();
}
.footer-address__address {
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-address {
  .contact {
    color: rgba(255, 255, 255, 0.6);

    padding: 0;
  }
}
.footer {
  .address {
    margin-bottom: 9px;
  }
}

.footer {
  .mail {
    margin-bottom: 9px;
  }
}
.footer-social {
  .social-link {
    fill: white;

    transition-property: background-color;
    @include animation-durationandtiming();
  }
}
.social.title,
.subscribe.title {
  @extend %BOLD-TEXT-14;
  color: white;
  margin-bottom: 20px;
  margin-top: 0px;
}
.footer-social,
.footer-subscribe {
  @include flex-centered(flex-start);
  //display: flex;
  //align-items: flex-start;
  flex-direction: column;
}
.footer-social {
  margin-right: 93px;
}
.footer {
  .container {
    @include flex-centered(baseline);
    //display: flex;
    //align-items: baseline;
  }
}
.footer-contact {
  flex-grow: 1;
  margin-right: 70px;
}
.footer-form {
  @include flex-centered();
  width: 570px;
}
.footer-input {
  width: 358px;
  height: 50px;
  margin: 0px;

  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;

  background-color: var(--footer-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;

  @include text-fw400(14px, 1.14, 00.01em);
  //font-size: 14px;
  //line-height: 1.14;
  //letter-spacing: 0.01em;
  color: var(--background-color);

  transition-property: filter;
  @include animation-durationandtiming();
  &:hover,
  &:focus {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  }
  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}

.subscribe-label {
  margin-right: 12px;
}
.footer {
  .button.primary {
    display: flex;
    justify-content: space-between;
    padding-left: 29px;
    padding-right: 28px;
  }
}
