.form-container {
  display: flex;
  flex-direction: column;

  padding: 40px;
}
.modal-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);

  padding: 0;
  margin-top: 0px;
  margin-bottom: 12px;
}
.modal-label {
  position: relative;

  display: flex;
  flex-direction: column;

  margin-bottom: 10px;

  font-size: 12px;
  line-height: 1.16;
  /* identical to box height */

  letter-spacing: 0.01em;

  color: var(--text-color);
}

.modal-label:nth-child(4) {
  margin-bottom: 20px;
}

.modal-input {
  display: block;
  width: 448px;
  height: 40px;

  padding: 0;
  padding-left: 42px;
  margin-top: 4px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--text-color);

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon {
  position: absolute;
  left: 12px;
  bottom: 11px;

  width: 18px;
  height: 18px;

  color: var(--title-text-color);
  fill: currentColor;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border: 1px solid var(--accent-color);
}
.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}
.modal-input.comment {
  min-height: 120px;
  resize: none;
  padding-top: 12px;
  padding: 12px;
  padding-left: 16px;
  padding-right: 16px;
}
.modal-input::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-label.check {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.71;
  /* identical to box height, or 171% */

  letter-spacing: 0.03em;

  color: var(--text-color);
}
.modal-input.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.modal-label .link {
  text-decoration-line: underline;

  color: var(--accent-color);
}
.button.send {
  display: block;
  margin: auto;
}
.check-item {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 15px;
  width: 16px;

  margin-right: 8px;

  border: 2px solid var(--title-text-color);
  border-radius: 2px;

  transition-property: color, background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.check-icon {
  fill: white;
}
.modal-input.checkbox:checked + .check-item {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
.check-item:hover,
.check-item:focus {
  border: 2px solid var(--accent-color);
}
