.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  min-width: 528px;
  /*min-height: 581px;*/

  background-color: white;
  opacity: 1;

  transition-property: transform, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: white;
  color: #000000;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.close-icon {
  position: absolute;
  width: 18px;
  height: 18px;

  fill: currentColor;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.close-icon:hover,
.close-icon:focus {
  fill: var(--accent-color);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
}
