.section.team {
  background-color: var(--secondary-background-color);
}
.team.list {
  display: flex;
}
.team.list {
  .card {
    flex-basis: calc((100% - 3 * 30px) / 4);
    margin-right: 30px;
    background: #ffffff;
    /* material shadow v1 */

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team {
  .title {
    margin-top: 0;
    margin-bottom: 10px;

    @include text(500, 16px, 1.19, 00.03em);
    text-align: center;
    //font-weight: 500;
    //font-size: 16px;
    //line-height: 1.19;
    ///* identical to box height */
    //letter-spacing: 0.03em;
  }
}
.team.description {
  margin-top: 0;
  margin-bottom: 16px;

  @include text-fw400(16px, 1.19, 00.03em);
  text-align: center;
  //font-size: 16px;
  //line-height: 1.19;
  ///* identical to box height */
  //letter-spacing: 0.03em;
}

.social-link {
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: white;
  }
}
