.working-section {
  padding-top: 0;
}
.working-section__list {
  display: flex;
}
.working-section__image {
  flex-basis: calc((100% - 2 * 30px) / 3);
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}

.working-section__image-thumb {
  position: relative;
  overflow: hidden;

  height: 100%;
  width: 100%;
}

.working-section__image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 70px;

  background-color: rgba(47, 48, 58, 0.8);
}
.working-section__text-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  margin: 0;
  width: 370px;

  @include text(700, 14px, 1.14, 00.03em);
  text-align: center;
  text-transform: uppercase;
  //font-weight: 700;
  //font-size: 14px;
  //line-height: 1.14;
  //letter-spacing: 0.03em;

  color: var(--overlay-text-color);
}
